:host {
  display: grid;
  width: 500px;
  margin: 0 auto;
  font-family: system-ui;
}

blockquote {
  color: slategray;
  line-height: 1.5em;
  font-style: italic;
}

blockquote::before {
  content: "💬";
  font-style: normal;
  position: absolute;
  transform: translateX(calc(-100% - 10px));
  font-size: 2em;
}
